// COLORS

$color-white: #ffffff;
$color-black: #000000;

$color-light-grey: #fafafa;
$color-dark-grey: #f1f1f1;
$color-light-black: #010101;
$color-orange: #D87D4A;
$color-light-orange: #fbaf85;
$color-red: #cd2c2c;
