.header {
	background-color: #121212;
	position: relative;

	&__container {
		max-width: 111rem;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 3.5rem 2rem;
		border-bottom: 1px solid rgba($color-white, 0.5);
		box-sizing: content-box;

		@include respond(tab) {
			max-width: 68.9rem;
		}

		@include respond(phone) {
			max-width: 32.7rem;
		}
	}

	&__burger {
      display: flex;
      flex-direction: column;
      gap: 6px;
      margin-right: 4rem;
      
      @media screen and (min-width: 768px) {
         display: none;
      }
	}
}

.burger-line {
	width: 16px;
	height: 2px;
	background: white;
}
