.about {
  margin-bottom: 12rem;

  @media screen and (min-width: 767px) {
    margin-bottom: 10rem;
  }

  @media screen and (min-width: 1440px) {
    margin-bottom: 20rem;
  }

  & .container {
    display: flex;
    column-gap: 12rem;
    flex-direction: column-reverse;

    @media screen and (min-width: 1440px) {
      flex-direction: row;
      align-items: center;
    }
  }

  &-left {
     flex-basis: 50%;
  }

  &__heading {
     margin-bottom: 3rem;
  }

  &-right {
     flex-basis: 50%;
     overflow: hidden;
     border-radius: 8px;
     margin-bottom: 4rem;
  }
}