.burger__menu {
  position: absolute;
  display: none;
  width: 100%;
  & .catalogue {
    background-color: $color-white;
    padding-top: 10rem ;
    padding-bottom: 7rem;

    @include respond (phone) {
      padding-top: 6rem;
      padding-bottom: 3.5rem;
    }
  } 
}