.catalogue {
	padding-top: 5rem;
	margin-bottom: 5rem;

	@media screen and (min-width: 767px) {

		margin-bottom: 10rem;
	}

	@media screen and (min-width: 1440px) {

		margin-bottom: 15rem;
	}

	&__list {
		display: flex;
		justify-content: space-between;

		@media screen and (max-width: 600px) {
			flex-direction: column;
		}
	}

	&__item {
		display: flex;
		flex-basis: 30%;
		flex-direction: column;
		align-items: center;
		justify-content: flex-end;
		position: relative;
		background-color: $color-light-grey;
		border-radius: 8px;
		max-width: 22rem;
		height: 16rem;
		padding-bottom: 2rem;

		@media screen and (min-width: 767px) {
			max-width: 35rem;
			height: 20rem;
		}

		@media screen and (max-width: 600px) {
			max-width: none;
			padding: 8.8rem 10rem 5rem 10rem;
			&:not(:last-child) {
				margin-bottom: 6rem;
			}
		}
	}

	&-img__container {
		height: 100%;
		overflow: hidden;
		display: flex;
		align-items: center;
		overflow: visible;
		position: absolute;
		top: -6rem;
		width: 15rem;

		@media screen and (min-width: 767px) {
			width: 20rem;
		}
	}

	&__category {
		margin-bottom: 1.5rem;
	}
}

.skeleton {
	margin-bottom: 60px;

	@media screen and (min-width: 767px) {
		display: flex;
		gap: 2rem;
	}

	& div {
		display: block;
		background: #e4e4e4;
		background-repeat: repeat;
		background-image: none;
		animation-duration: 1s;
		animation-fill-mode: forwards;
		animation-iteration-count: infinite;
		animation-name: placeHolderShimmer;
		animation-timing-function: linear;
		background-image: linear-gradient(to right, #e4e4e4 0%, rgb(233, 234, 235) 20%, #e4e4e4 40%, #e4e4e4 100%);
		background-repeat: no-repeat;
		border-radius: 10px;
		width: 100%;
		height: 340px;
		background-size: 1000px;

		&:first-child {
			margin-bottom: 40px;
		}

		@media screen and (min-width: 1180px) {
			height: 561px;
		}
	}
}

@keyframes placeHolderShimmer {
	0% {
		background-position: -1000px 0;
	}
	100% {
		background-position: 1000px 0;
	}
}
