.navbar {
   &__list {
      display: flex;
   }

   &__item {
      &:not(:last-child) {
         margin-right: 3.4rem;
      }

      & > a {
         transition: all 0.3s ease;

         &:hover {
            color: $color-orange;
         }
      }
   }
}
.header {
   & .navbar {
      @include respond(tab) {
         display: none;
      }
   }
}

.footer {
  & .navbar__list {
   display: flex;
   flex-direction: column;
   row-gap: 1rem;
   align-items: center;

   .navbar__item {
     margin: 0;
   }

     @media screen and (min-width: 400px) {
      flex-direction: row;
      justify-content: flex-start;
      gap: 3rem;

     }
  }

  & a {
   display: flex;
   &:hover svg > path {
      fill: $color-orange;
   } 
  }
}
