html {
   font-size: 62.5%;
}

body {
   min-width: 375px;
   background-color: $color-white;
   max-width: 144rem;
   margin: 0 auto;
}

.container {
   max-width: 110rem;
   margin: 0 auto;
   padding-left: 2rem;
   padding-right: 2rem;
   box-sizing: content-box;
   position: relative;

   @include respond(tab) {
      max-width: 68.9rem;
      position: relative;
   }

   @include respond(phone) {
      max-width: 32.7rem;
   }
}

//svg 
path {
  transition: all .3s ease;
}

.bg {
   background-color: $color-black; 
}

input[type=number] {
   -moz-appearance: textfield;
 }
