.headphones {
   &__new {
      display: flex;
      column-gap: 12.5rem;
      margin-bottom: 16rem;

      &-left {
         flex-basis: 50%;
         overflow: hidden;

         &__container {
            & img {
               border-radius: 8px;
            }
         }
      }

      &-right {
         flex-basis: 40%;
         display: flex;
         flex-direction: column;
         justify-content: center;
      }
   }

   &__heading {
      margin-bottom: 1.6rem;
   }

   &__model-name {
      margin-bottom: 3.2rem;
   }

   &__text {
      margin-bottom: 4rem;
   }

   &__even {
      display: flex;
      column-gap: 12.5rem;
      margin-bottom: 16rem;

      &-left {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }

      &-right {
        flex-basis: 50%;
      }
   }

   &__odd {
    display: flex;
      column-gap: 12.5rem;

      &-left {
       flex-basis: 50%;
      }

      &-right {
        flex-basis: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
   }
}
